<%= render 'optimadmin/shared/header/main_title', title: 'Stored Images' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: images_path, title: 'Images' %>
  <%= render 'form' %>
</div>
