<%= render 'optimadmin/shared/header/main_title', title: 'Stored Documents' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: documents_path, title: 'Document' %>

  <%= render 'form' %>
</div>
