<%= render 'optimadmin/shared/header/main_title', title: 'New Site Setting' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: site_settings_path, title: 'Site Setting' %>

  <%= render 'form' %>
</div>
