<% if Rails.env.development? %>
  <!--
  <div class="float-right">
    <% # TODO: Make this work %>
    <div>Recycle bin</div>

    <%= link_to path do %>
      View <strong><%= pluralize(items, 'item') %></strong>
    <% end %>
  </div>
  -->
<% end %>
