<%= render 'optimadmin/shared/header/main_title', title: 'New Module Page' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: external_links_path, title: 'External Link' %>

  <%= render 'form' %>
</div>
