<%= render 'optimadmin/shared/header/main_title', title: 'New Administrator' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: administrators_path, title: 'Administrator' %>

  <%= render 'form' %>
</div>
