<header>
  <div class="row">
    <div class="small-12 columns text-center logo">
      <%= link_to ( image_tag 'optimadmin/logo.png', alt: 'Optimised Admin System', width: 220, height: 54 ), login_path %>
    </div>
  </div>
</header>
